*{
    padding: 0%;
    margin: 0%;
}

:root{

--Lightred: hsl(0, 100%, 67%);
--Orangeyyellow: hsl(39, 100%, 56%);
--Greenteal: hsl(166, 100%, 37%);
--Cobaltblue: hsl(234, 85%, 45%);

/* ## Gradients */

--Lightslateblue: hsl(252, 100%, 67%);
--Lightroyalblue: hsl(241, 81%, 54%);

--Violetblue: hsla(256, 72%, 46%, 1);
--Persianblue: hsla(241, 72%, 46%, 0);



/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);

}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: white;
}

#summaryresult{
    display: flex;
    place-items: center;
    justify-content: center;
    margin: 100px 0;
    
}

.result{
    text-align: center;
    font-size: 14px;
    background: linear-gradient(to bottom, hsla(256, 72%, 50%) ,hsl(234, 85%, 45%) );
    height: 300px;
    width: 210px;
    border-radius: 15px;
}

.one{
    padding: 20px 0;
    color: gainsboro;
    font-size: 18px;
}


.circle{
    background: linear-gradient(to bottom, hsla(256, 72%, 40%) ,hsla(256, 72%, 50%) );;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0 20%;
}

.two{
    padding: 40px 0;
    color: white;
    font-size: 35px;
    font-weight: 700;
    line-height: 20px;
   
}

.two span{
    color: gainsboro;
    font-size: 16px;
    font-weight: 100;
}

.three{
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
    line-height: 0%;
}

.four{
    color: gainsboro;
    font-size: 14px;
    padding: 0 30px;
    line-height: 15px;
}

.summary{
    text-align: left;
    font-size: 16px;
    background: hsl(0, 0%, 100%);
    height: 300px;
    width: 210px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
}

.sum{
    padding: 20px 20px;
    font-size: 18px;
}

.red{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 100%, 67%);
    background: hsla(0, 100%, 67%, 0.123);
    border-radius: 5px;
    height: 30px;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 800;
}



.red img[src*="./icon-reaction"]{
    width: 8%;
    padding-right: 0.5rem;
}

.yellow img[src*="./icon-memory"]{
    width: 8%;
    padding-right: 0.5rem;
}

.green img[src*="./icon-verbal"]{
    width: 8%;
    padding-right: 0.5rem;
}

.blue img[src*="./icon-visual"]{
    width: 8%;
    padding-right: 0.5rem;
}


.yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(39, 100%, 56%);
    background: hsla(39, 100%, 56%, 0.123);
    border-radius: 5px;
    height: 30px;
    margin: 10px 20px;
    font-size: 14px;
    font-weight: 800;
}



.green{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(166, 100%, 37%);
    background: hsl(166, 100%, 37%, 0.123);
    border-radius: 5px;
    height: 30px;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 800;
}


.blue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(234, 85%, 45%);
    background: hsl(234, 85%, 45%, 0.123);
    border-radius: 5px;
    height: 30px;
    margin: 10px 20px;
    font-size: 14px;
    font-weight: 800;
}


.summary span{
    color: black;
    padding-left: 25px;
}

.green span{
    padding-left: 42px;
}

.blue span{
    padding-left: 45px;
}


.dark{
    text-align: center;
    color: white;
    font-size: 14px;
    background: hsl(224, 30%, 27%);
    border-radius: 15px;
    padding-top: 10px;
    margin: 20px 20px;
    height: 25px;
}

.dark:hover{
    transition: 0.5s ease-in;
    color: white;
    cursor: pointer;
    background: hsl(252, 100%, 67%);
}


@media (max-width: 375px) {
    #summaryresult {
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 0px 0;
        scroll-behavior: smooth;
        
    }

    .result {
        height: 350px;
        width: 375px;
        border-top-right-radius: 0%;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .one {
        padding: 20px 0;
        color: gainsboro;
        font-size: 18px;
    }

    .circle {
        height: 40%;
        width: 40%;
        margin: 0 30%;
    }

    .two {
        padding: 50px 0;
        color: white;
        font-size: 50px;
        font-weight: 700;
        line-height: 30px;
    }

    .three {
        color: white;
        font-size: 25px;
        font-weight: 700;
        padding: 40px 0;
        line-height: 0%;
    }

    .four {
        color: gainsboro;
        font-size: 18px;
        padding: 0 50px;
        line-height: 15px;
    }

    .summary {
        height: 500px;
        width: 375px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
    }
    

    .sum {
        padding: 20px 20px;
        font-size: 18px;
        font-weight: 700;
    }

    .red{
        border-radius: 5px;
        height: 50px;
        margin: 0px 20px;
        font-size: 18px;
        font-weight: 800;
    }
    
    
    
    .red img[src*="./icon-reaction"]{
        width: 5%;
        padding-right: 0.9rem;
    }
    
    .yellow img[src*="./icon-memory"]{
        width: 5%;
        padding-right: 0.9rem;
    }
    
    .green img[src*="./icon-verbal"]{
        width: 5%;
        padding-right: 0.9rem;
    }
    
    .blue img[src*="./icon-visual"]{
        width: 5%;
        padding-right: 0.9rem;
    }
    
    
    .yellow{
        border-radius: 5px;
        height: 50px;
        margin: 15px 20px;
        font-size: 18px;
        font-weight: 800;
    }
    
    
    
    .green{
        border-radius: 5px;
        height: 50px;
        margin: 15px 20px;
        font-size: 18px;
        font-weight: 800;
    }
    
    
    .blue{
        border-radius: 5px;
        height: 50px;
        margin: 15px 20px;
        font-size: 18px;
        font-weight: 800;
    }
    
    
    .summary span{
        color: black;
        padding-left: 10rem;
    }
    
    .green span{
        padding-left: 10rem;
    }
    
    .blue span{
        padding-left: 10rem;
    }
    
    .red span{
        padding-left: 9rem;
    }

    .yellow span{
        padding-left: 9rem;
    }
    
    
    .dark{
        text-align: center;
        color: white;
        font-size: 20px;
        background: hsl(224, 30%, 27%);
        border-radius: 25px;
        padding-top: 15px;
        margin: 25px 20px;
        height: 40px;
    }
    
    .dark:hover{
        transition: 0.5s ease-in;
        color: white;
        cursor: pointer;
        background: hsl(252, 100%, 67%);
    }

   
}


